<div class="row">
            <div class="col-lg-8 col-lg-offset-2 aboutsize">
                <h2>About Library App</h2>
                <p>This application is meant to be an online database of several authors and books {{#link-to 'authors'}}located in a list{{/link-to}} The theme is open source, and you can use it for any purpose, personal or commercial.</p>
                <p>This theme features stock photos by along with a custom Google Maps skin courtesy of.</p>
                <p>Grayscale includes full HTML, CSS, and custom JavaScript files along with LESS files for easy customization.</p>
            </div>
        </div>
